
.main {

}

.main__nav {

}

.main__centerblock {

}

.main__sidebar {

}

.nav__logo {

}

.nav__burger {

}

.nav__menu {

}

.logo__image {

}

.burger__line {

}

.menu__list {

}

.menu__item {

}

.menu__link {

}

.centerblock__search {

}

.centerblock__h2 {

}

.centerblock__filter {

}

.centerblock__content {

}

.search__svg {

}

.search__text {

}

.search__text::-webkit-input-placeholder {
  background-color: transparent;
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.search__text:-ms-input-placeholder {
  background-color: transparent;
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.search__text::-ms-input-placeholder {
  background-color: transparent;
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.search__text::placeholder {
  background-color: transparent;
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.filter__title {

}

.filter__button {

}

.filter__button

.content__title {

}

.content__playlist {

}

.playlist-title__col {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 2px;
  color: #696969;
  text-transform: uppercase;
}

.playlist-title__svg {

}

.col01 {

}

.col02 {

}

.col03 {

}

.col04 {

}

.playlist__item {

}

.playlist__track {

}

.track__title {

}

.track__title-image {

}

.track__title-svg {

}

.track__title-link {

}

.track__title-span {

}

.track__author {

}

.track__author-link {

}

.track__album {

}

.track__album-link {

}

.track__time-svg {

}

.track__time-text {

}

.sidebar__personal {

}

.sidebar__personal-name {

}

.sidebar__icon {

}

.sidebar__block {

}

.sidebar__list {

}

.sidebar__item {

}

.sidebar__item

.sidebar__link {

}

.sidebar__img {

}

.bar {

}

.bar__content {

}

.bar__player-progress {

}

.bar__player-block {

}

.bar__player {

}

.bar__volume-block {

}

.player__controls {

}

.player__btn-prev,
.player__btn-play,
.player__btn-next,
.player__btn-repeat,
.player__btn-shuffle {

}

.player__btn-prev {

}

.player__btn-prev-svg {

}

.player__btn-play {
}

.player__btn-play-svg {

}

.player__btn-next {

}

.player__btn-next-svg {

}

.player__btn-repeat {

}

.player__btn-repeat-svg {

}

.player__btn-shuffle {

}

.player__btn-shuffle-svg {

}

.player__track-play {

}

.track-play__contain {

}

.track-play__image {

}

.track-play__svg {

}

.track-play__author {

}

.track-play__author-link {

}

.track-play__album {

}

.track-play__album-link {

}

.track-play__like-dis {

}

.track-play__like,
.track-play__dislike {

}

.track-play__like-svg {

}

.track-play__dislike {

}

.track-play__dislike-svg {

}

.volume__content {

}

.volume__image {

}

.volume__svg {

}

.volume__progress {

}

.volume__progress-line {

}

.skeleton {
  width: 250px;
  height: 150px;
  background-color: #202020;
}

.filter__modal {

}

.filter__list {

}
.filter__list
.filter__list


.filter__author {

}
.centerblock__filter {

} 
.filter__genre {

}
.filter__year {

}

